<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LUANma</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestGetcode</display-name>
    <servlet-name>RequestGetcode</servlet-name>
    <servlet-class>solft.edu.javaweb.luanma.RequestGetcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestGetcode</servlet-name>
    <url-pattern>/RequestGetcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLangage</display-name>
    <servlet-name>GetLangage</servlet-name>
    <servlet-class>solft.edu.javaweb.luanma.GetLangage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLangage</servlet-name>
    <url-pattern>/GetLangage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoGetLianJie</display-name>
    <servlet-name>NoGetLianJie</servlet-name>
    <servlet-class>solft.edu.javaweb.luanma.NoGetLianJie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoGetLianJie</servlet-name>
    <url-pattern>/NoGetLianJie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetkHinfomation</display-name>
    <servlet-name>GetkHinfomation</servlet-name>
    <servlet-class>solft.edu.javaweb.luanma.GetkHinfomation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetkHinfomation</servlet-name>
    <url-pattern>/GetkHinfomation</url-pattern>
  </servlet-mapping>
</web-app>